.divider-line { clear: both;  border-bottom: 1px solid #CCC; margin: 20px 0 ; }

#wizard-form-wrapper .form-wrapper { padding: 20px; }

#wizard-form-wrapper .form-wrapper .question,
#wizard-form-wrapper .form-wrapper .select { box-sizing: border-box; float: left;}

#wizard-form-wrapper .form-wrapper .question { width: 85%; padding-right: 20px; }
#wizard-form-wrapper .form-wrapper .select { width: 15%; }
#wizard-form-wrapper .form-wrapper .select label {  }

#wizard-form-wrapper .form-item.form-type-radio { float: left; margin-right: 10px; }
#wizard-form-wrapper .form-item.form-type-radio .form-radio.error { background: red; }

#wizard-form-wrapper .form-error { margin-left: 20px; }

table { border: 1px solid black; padding: 20px; margin-top: 20px; }

.wb_crmreqs_custom_field { width: 100%; box-sizing: border-box; }
.wb_crmreqs_custom_btn { float: right; clear: both ; }